* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  display: flex;
  background-color: rgb(245, 207, 138);
  justify-content: space-between;
  height: 5rem;
  margin: 0;
  width: 50rem;
}

nav img{
  display: block;
  max-height: 5rem;
}

.right-content{
  display: flex;
  vertical-align: middle;
}

.right-content ul{
  list-style: none;
  display: flex;
  
  
}

.right-content ul li a{
  text-decoration: none;
  color: rgb(255, 145, 0);
  padding: 1rem;
  font-size: 1.5rem;
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  height: 3rem;
}

.right-content ul li a:hover{
  background-color:  rgba(247, 191, 88, 0.774);
}

.container {
  border: 1px;
  margin-top: 6rem;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.receita {

  width: 50rem;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.receita *{
  margin: 0.5rem;
  max-width: 100%;
}

.receita button{
  background-color: rgb(245, 207, 138);
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
}



.receita button:hover{
  background-color: rgba(247, 191, 88, 0.774);
}

.receita button a{
  text-decoration: none;
  color: rgb(255, 145, 0);
}
footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}

.footer-content{
  background-color: rgb(245, 207, 138);
  width: 50rem;
  height: 2rem;
  color: rgb(255, 145, 0);
  text-align: center;
}
